<!-- 6. KOLORY -->
<section id="view-color" class="tool-view">
    <div class="tool-header"><h1>🎨 Kontrast kolorów WCAG i pipeta</h1><p>Konwersje palet, kroplomierz ze zdjęć i audyt WCAG.</p></div>
    <div class="flex-row">
        <div class="flex-1 panel">
            <h3>Wybierak i WCAG</h3><br>
            <div class="flex-row mb-1">
                <div class="flex-1"><label>Kolor Tła</label><input type="color" id="c_bg" class="color-input" value="#18181b" oninput="updColor()"></div>
                <div class="flex-1"><label>Kolor Tekstu</label><input type="color" id="c_fg" class="color-input" value="#00d2ff" oninput="updColor()"></div>
            </div>
            <div class="flex-row color-codes">
                <div class="flex-1">
                    <div>HEX: <span id="c_h_bg" class="text-accent">#18181b</span></div>
                    <div>RGB: <span id="c_r_bg">24, 24, 27</span></div>
                </div>
                <div class="flex-1">
                    <div>HEX: <span id="c_h_fg" class="text-accent">#00d2ff</span></div>
                    <div>RGB: <span id="c_r_fg">0, 210, 255</span></div>
                </div>
            </div>

            <div id="c_box">
                <h2>Podgląd Testowy</h2><p>Podgląd kontrastu w praktyce.</p>
            </div>
            <div class="contrast-box">
                Kontrast WCAG: <span id="c_rat">0.00</span> : 1 <br>
                <span id="c_an">Normalny: Oczekuję</span> | <span id="c_al">Duży: Oczekuję</span>
            </div>

            <h3 class="mt-2">Paleta (Odcienie Tła)</h3>
            <div id="c_pal"></div>
        </div>

        <div class="flex-1 panel">
            <h3>Kroplomierz ze zdjęcia</h3><p class="panel-hint">Wgraj zdjęcie do Canvasa i kliknij w nie, aby pobrać kolor (Działa offline).</p>
            <input type="file" class="mb-1" accept="image/*" onchange="loadColorImg(this)">
            <canvas id="c_cvs" class="canvas-preview is-hidden"></canvas>
            <div class="picker-result">
                <div id="c_pick_box"></div>
                <div>Pobrany kolor: <span id="c_pick_txt"># Brak</span></div>
            </div>
        </div>
    </div>
</section>
