<!-- 2. HASŁA -->
<section id="view-pass" class="tool-view">
    <div class="tool-header"><h1>🔑 Generator haseł i test siły hasła</h1><p>Kryptograficzne generowanie i weryfikacja zxcvbn.</p></div>
    <div class="flex-row">
        <div class="flex-1 panel">
            <h3>Generator</h3><br>
            <div class="form-group"><label>Długość: <span id="p_lenV">16</span></label><input type="range" id="p_len" min="8" max="64" value="16" oninput="document.getElementById('p_lenV').innerText=this.value; genPass()"></div>
            <div class="form-group"><label>Ilość haseł:</label><input type="number" id="p_cnt" value="1" min="1" max="20" oninput="genPass()"></div>
            <div class="flex-row mb-15">
                <label><input type="checkbox" id="pUp" checked onchange="genPass()"> A-Z</label>
                <label><input type="checkbox" id="pLo" checked onchange="genPass()"> a-z</label>
                <label><input type="checkbox" id="pNu" checked onchange="genPass()"> 0-9</label>
                <label><input type="checkbox" id="pSy" checked onchange="genPass()"> Z.Specjalne</label>
            </div>
            <div id="p_out"></div>
            <button id="p_copyBtn" class="btn-primary" onclick="copyPassMain()">Skopiuj Hasło</button>
            <div id="p_ext" class="is-hidden"></div>
        </div>
        <div class="flex-1 panel">
            <h3>Weryfikator (Lokalny)</h3><br>
            <div class="form-group"><input type="text" id="p_chk" oninput="checkPass()" placeholder="Wklej hasło..."></div>
            <div class="meter meter-lg"><div id="p_bar" class="meter-fill"></div></div>
            <div id="p_txt">Oczekuję...</div>
            <div id="p_crk"></div>
            <div id="p_warn"></div>
        </div>
    </div>
</section>
